<form [formGroup]="myFormGroup" #myform="ngForm">
    <input type="text" formControlName="firstInput" placeholder="Enter none special chars" class="form-control m-2" appNoSCharaterValidator pattern="^[a-zA-Z0-9 ]*$">

    <input type="text" formControlName="secondInput" placeholder="Enter not a number input " class="form-control m-2" appNoSCharaterValidator pattern="^[^0-9]*$">

    <input type="text" formControlName="thirdInput" placeholder="Enter non Arabic Chars" class="form-control m-2" appNoSCharaterValidator pattern="^[^\u0600-\u06FF\u0750-\u077F]*$">

    <input type="submit" />
</form>